<app-menu></app-menu>

<div class="row">
    
    <h1>Lista de servicios
    <br>
    <br>
    <button class="btn btn-dark" routerLink="/new-servicio" *ngIf="isLogged">Agregar</button></h1>
    
    <div class="col-lg-2">
        <h3>
            Servicios:
        </h3>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-12">
        <table class="table">
            <tbody>
                <tr *ngFor="let i of servicios">
                    <td>
                        <h2>{{i.id}} {{i.name}} </h2>
                    </td>
                    <td>
                        <h2>{{i.price}}</h2>

                    </td>

                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/edit-servicios/{{i.id}}">Editar</button>
                    </td>
                    <td >
                        <button class="btn btn-danger" (click)="delete(i.id)">Borrar</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</div>

<app-footer></app-footer>
