<footer class="fixed-bottom">
    <ul class="nav bg-footer justify-content-center p-3">
        <li class="nav-item ">
            <a class="nav-link text-white" aria-current="page" href="#">Preguntas frecuentes</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white">Contáctanos</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white">Prensa</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white">Conferencias</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-white">Términos y Condiciones</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark">Privacidad</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark">Estudiantes</a>
        </li>
    </ul>
</footer>
