

<app-menu></app-menu>

<div class="container">
    <div class="row">
        <h1>Alta de servicio</h1>
            <br>
            <br>
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="unitPrice">Precio unitario</label>
                    <input type="number" class="form-control" id="price" name="price" [(ngModel)]="price" required>
                </div>
                
                <br>
                
                <button class="btn btn-primary">
                    Aceptar
                </button>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>
