<app-menu></app-menu>

<div class="row">
    <h1>Pedidos
        <br>
        <button class="btn btn-dark" routerLink="/new-order" *ngIf="isLogged">Agregar</button>
    </h1>


    <div class="col lg 1"></div>
    <div class="col-lg-12">
        <table class="table">
            <thead>
                <th>No PEDIDO.</th>
                <th>PERSONA</th>
                <th>EMPRESA</th>
                <th>FECHA</th>
            </thead>
            <tbody>
                <tr *ngFor="let order of orders">
                    <td>
                        {{ order.id }}
                    </td>
                    <td>
                        {{ order.person }}
                    </td>
                    <td>
                        {{ order.company }}
                    </td>
                    <td>
                        {{ order.creationDate }}
                    </td>

                    <td *ngIf="isLogged">
                        <button class="btn btn-info" routerLink="/order-detail">
                            <i class="bi bi-trash-fill"></i> Detalles</button>
                    </td>

                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/edit-order/{{order.id}}">
                            <i class="bi bi-pencil-fill"></i> Editar</button>
                    </td>
                    <!--<td *ngIf="isLogged">
                        <button class="btn btn-success">
                            <i class="bi bi-pencil-fill"></i> Estado</button>
                    </td>-->
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(order.id)">
                            <i class="bi bi-trash-fill"></i> Anular</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</div>



<app-footer></app-footer>