<app-menu></app-menu>
<div class="container" *ngIf="producto">
    <div class="row">
        <h1>Modificar producto</h1>
        <br>
        <br>
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="producto.name" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="unitPrice">Precio unitario</label>
                    <input type="number" class="form-control" id="unitPrice" name="unitPrice" [(ngModel)]="producto.unitPrice" required>
                </div>
                <br>

                <div class="form-group">
                    <label for="tax">Impuestos</label>
                    <br>
                    <br>
                <div class="form-check">
                    <div *ngFor="let tax of taxes">
                        <input class="form-check-input" type="checkbox" (click)="manageTax(tax.id)" [checked] = "selectedTax.includes(tax.id)">
                        <label class="form-check-label" for="flexCheckDefault">
                            {{ tax.name }} ({{ tax.aliquot }}%)
                        </label>
                    </div>
                </div>
                </div>
        
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary" type="submit">Actualizar</button>
                    <button class="btn btn-danger" (click)="out()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>

