<app-menu></app-menu>
<div class="container" *ngIf="producto">
    <div class="row">
        <h1>Modificar producto</h1>
        <br>
        <br>
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" name="name" [(ngModel)]="producto.name" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="unitPrice">Precio unitario</label>
                    <input type="number" class="form-control" id="unitPrice" name="unitPrice" [(ngModel)]="producto.unitPrice" required>
                </div>
                <br>
        
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>

