<app-menu></app-menu>

<div class="row">
    <h1>Personas
        <br>
            <button class="btn btn-dark" routerLink="/add-person" *ngIf="isLogged">Nuevo cliente</button></h1>
        
        <div class="col-lg-2">
            <h3>
                Clientes:
            </h3>
        </div>

    <div class="col lg 1"></div>
    <div class="col-lg-12">
        <table class="table">
            <tbody>
                <tr *ngFor="let i of personas">
                    <td>
                        <h2>{{i.id}} {{i.firstName}} </h2>
                    </td>
                    <td> 
                        <h2>{{i.lastName}}</h2>
                    </td>
                    <td>
                        <h2>{{i.dni}} </h2>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/edit-person/{{i.id}}">
                            <i class="bi bi-pencil-fill"></i> Editar</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-danger" (click)="delete(i.id)">
                            <i class="bi bi-trash-fill"></i> Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>



<app-footer></app-footer>