<app-menu></app-menu>

<div class="row">
    
    <h1>Productos
    <br>
        <button class="btn btn-dark" >Agregar</button></h1>
    
    <div class="col-lg-2">
        <h3>
            Productos:
        </h3>

    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let i of products">
                    <td>
                        <h2>{{i.id}} {{i.name}} </h2>
                    </td>
                    <td>
                        <h2>{{i.unitPrice}}</h2>

                    </td>
                    <td>
                        <h2>{{i.warranty}}</h2>

                    </td>
                    
                    
                    
                    <td >
                        <button class="btn btn-light">Editar</button>
                    </td>
                    <td >
                        <button class="btn btn-danger">Borrar</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</div>

<app-footer></app-footer>
