<app-menu></app-menu>

<div class="row">
    
    <h1>Productos
    <br>
        <button class="btn btn-dark" routerLink="/new-product" *ngIf="isLogged">Nuevo producto</button></h1>
    
    <div class="col-lg-2">
        <h3>
            Productos:
        </h3>

    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-12">
        <table class="table">
            <tbody>
                <tr *ngFor="let i of productos">
                    <td>
                        <h2>{{i.id}} {{i.name}} </h2>
                    </td>
                    <td>
                        <h2>{{i.unitPrice}}</h2>

                    </td>
                                       
                    
                    <td >
                        <button class="btn btn-light" routerLink="/edit-product/{{i.id}}">Editar</button>
                    </td>
                    <td >
                        <button class="btn btn-danger" (click)="delete(i.id)">Borrar</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</div>

<app-footer></app-footer>
