<app-menu></app-menu>

<div class="container">
    <div class="row">
        <h1>Alta de empresa</h1>
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="companyName">Razón social</label>
                    <input type="text" class="form-control" id="companyName" name="companyName" [(ngModel)]="companyName" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="cuit">Cuit</label>
                    <input type="text" class="form-control" id="cuit" name="cuit" [(ngModel)]="cuit" required>
                </div>
                <br>

                <div class="form-group">
                    <label for="activityStart">Inicio de actividades</label>
                    <input type="date" class="form-control" id="activityStart" name="activityStart" [(ngModel)]="activityStart" required>
                </div>
                <br>
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary">Aceptar</button>
                    <button class="btn btn-danger" (click)="out()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>
