<app-menu></app-menu>
<div class="container" *ngIf="compania">
    <div class="row">
        <h1>Modificar empresa</h1>
            <br>
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="companyName">Razón social</label>
                    <input type="text" class="form-control" id="companyName" name="companyName" [(ngModel)]="compania.companyName" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="activityStart">Inicio de actividades</label>
                    <!-- TODO: que se inicialize con el valor del registro -->
                    <input type="date" class="form-control" id="activityStart" name="activityStart" [(ngModel)]="compania.activityStart" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="cuit">CUIT</label>
                    <input type="text" class="form-control" id="cuit" name="cuit" [(ngModel)]="compania.cuit" required>
                </div>
                <br>
                <button class="btn btn-primary">
                    Actualizar
                </button>
            </form>
        </div>
    </div>
</div>
<app-footer></app-footer>

