<!--<app-menu></app-menu>
<div class="container">
    <div class="row">
        <h1>Modificar pedido</h1>
        <br>
        <br>
        <div>

            <form> 

                <div class="form-group">

                    <label for="person">Persona</label>

                    <select id="person" name="person" [(ngModel)]="selectedPerson" required>

                        <option *ngFor="let person of persons" value="{{ person.id }}">{{ person.firstName }} {{
                            person.lastName }}</option>

                    </select>
                </div>

                <br>

                <div class="form-group">

                    <label for="company">Empresa</label>

                    

                    <select id="company" name="company" [(ngModel)]="selectedCompany" required>

                        <option *ngFor="let company of companies" value="{{ company.id }}">{{ company.companyName }}
                        </option>

                    </select>

                </div>

                <br>

                <div class="form-group">

                    <label for="product">Producto</label>

                    <select id="product" name="product" [(ngModel)]="selectedProduct" required>

                        <option *ngFor="let product of products" value="{{ product.id }}">{{ product.name }}</option>

                    </select>

                </div>

                <br>

                <div class="form-group">

                    <label for="quantity">Cantidad</label>

                    <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="quantity"
                        required>

                </div>

                <div class="form-group">

                    <label for="warranty">Garantía</label>

                    <input type="number" class="form-control" id="warranty" name="warranty" [(ngModel)]="warranty"
                        required>

                </div>

                <br>
                <button (click)="addProduct()">AGREGAR PRODUCTO</button>

                <br>
                <br>

                <div class="form-group">

                    <label for="service">Servicio</label>
                    
                    <select id="service" name="service" [(ngModel)]="selectedService" required>

                        <option *ngFor="let service of services" value="{{ service.id }}">{{ service.name }}</option>

                    </select>
                    <br>
                    <br>
                </div>
                
                <button (click)="addService()">AGREGAR SERVICIO</button>

                <br>
                <br>
                <div class="d-grid gap-2 d-md-block">

                    <button class="btn btn-primary" (click)="save()">Aceptar</button>

                    <button class="btn btn-danger" (click)="out()">Cancelar</button>

                </div>

                <table class="table" *ngIf="addedProducts.length > 0">
                    <thead>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">CANTIDAD</th>
                        <th scope="col">GARANTIA</th>
                        <th scope="col">UNITARIO</th>
                        <th scope="col">IMPUESTOS</th>
                        <th scope="col">POR CANTIDAD</th>
                        <th scope="col">TOTAL</th>
                        <th scope="col">&nbsp;</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let addedProduct of addedProducts">
                            <td>{{ addedProduct.name }}</td>
                            <td>{{ addedProduct.quantity }}</td>
                            <td>{{ addedProduct.warranty ? addedProduct.warranty : 'No'}}</td>
                            <td>${{ addedProduct.unitPrice }}</td>
                            <td>
                                <p *ngFor="let tax of addedProduct.taxes">{{ tax.name }}: ${{ tax.value }}</p>
                            </td>
                            <td>${{ addedProduct.unitPrice * addedProduct.quantity }}</td>
                            <td>${{ addedProduct.total }}</td>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="removeProduct(addedProduct.id)">X</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table" *ngIf="addedServices.length > 0">
                    <thead>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let addedService of addedServices">
                            <td>{{ addedService.name }}</td>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="removeService(addedService.id)">X</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                total pedido: ${{ total }}

            </form>
        </div>
    </div>
</div>-->
           