

<app-menu></app-menu>

<div class="container">
    <div class="row">
        <h1>Alta de persona</h1>
        <br>
        <br>
        <div>
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="firstName">Nombre</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="firstName" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="lastName">Apellido</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="lastName" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="dni">Documento</label>
                    <input type="text" class="form-control" id="dni" name="dni" [(ngModel)]="dni" required>
                </div>
                <br>
                
                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-primary">Aceptar</button>
                    <button class="btn btn-danger" (click)="out()">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<app-footer></app-footer>