<app-menu></app-menu>
<div class="container">
    <div class="row">
        <h1>Alta de pedido</h1>
        <br>
        <br>
        <div>

            <form class="form">

                <div class="form-group">

                    <label for="person"><i class="bi bi-person-plus"></i>&nbsp; Persona</label>
                    &nbsp;
                    <select id="person" name="person" [(ngModel)]="selectedPerson" required (change)="isActive()">

                        <option *ngFor="let person of persons" value="{{ person.id }}">{{ person.firstName }} {{ person.lastName }}</option>

                    </select>

                </div>

                <br>

                <div class="form-group">

                    <label for="company"><i class="bi bi-building-fill-add"></i>&nbsp; Empresa</label>
                    &nbsp;
                    <select id="company" name="company" [(ngModel)]="selectedCompany" required>

                        <option *ngFor="let company of companies" value="{{ company.id }}">{{ company.companyName }}
                        </option>

                    </select>

                </div>

                <br>

                <div class="form-group">

                    <label for="product"><i class="bi bi-bag-heart-fill"></i>&nbsp;Producto</label>
                    &nbsp;
                    <select id="product" name="product" [(ngModel)]="selectedProduct" required>

                        <option *ngFor="let product of products" value="{{ product.id }}">{{ product.name }}</option>

                    </select>

                </div>

                <br>

                <div class="form-group">

                    <label for="quantity">Cantidad</label>
                    
                    <input type="number" class="form-control" id="quantity" name="quantity" [(ngModel)]="quantity"
                        required>

                </div>

                <div class="form-group">

                    <label for="warranty">Garantía</label>
                    
                    <input type="number" class="form-control" id="warranty" name="warranty" [(ngModel)]="warranty"
                        required>

                </div>

                <br>

                <button (click)="addProduct()">AGREGAR PRODUCTO</button>

                <br>
                <br>

                <div class="form-group">

                    <label for="service"><i class="bi bi-globe2"></i>&nbsp;Servicio</label>
                    &nbsp;
                    <select id="service" name="service" [(ngModel)]="selectedService" required>

                        <option *ngFor="let service of services" value="{{ service.id }}">{{ service.name }}</option>

                    </select>
                    <br>
                    <br>
                </div>
                
                <button (click)="addService()">AGREGAR SERVICIO</button>

                <br>
                <br>
                <div class="d-grid gap-2 d-md-block">

                    <button class="btn btn-primary" (click)="save()">Aceptar</button>
                    &nbsp;
                    <button class="btn btn-danger" (click)="out()">Cancelar</button> <!--me da error 500 -->
                    
                </div>
                <br>
                <table class="table table-dark table-hover" *ngIf="addedProducts.length > 0">
                    <thead>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">CANTIDAD</th>
                        <th scope="col">GARANTIA</th>
                        <th scope="col">UNITARIO</th>
                        <th scope="col">IMPUESTOS</th>
                        <th scope="col">POR CANTIDAD</th>
                        <th scope="col">DESCUENTO</th>
                        <th scope="col">TOTAL</th>
                        <th scope="col">&nbsp;</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let addedProduct of addedProducts">
                            <td>{{ addedProduct.name }}</td>
                            <td>{{ addedProduct.quantity }}</td>
                            <td>{{ addedProduct.warranty ? addedProduct.warranty : 'No'}}</td>
                            <td>${{ addedProduct.unitPrice }}</td>
                            <td>
                                <p *ngFor="let tax of addedProduct.taxes">{{ tax.name }}: ${{ tax.value }}</p>
                                {{ addedProduct.taxes.length < 1 ? 'No' : '' }}
                            </td>
                            <td>${{ addedProduct.unitPrice * addedProduct.quantity }}</td>
                            <td>{{addedProduct.discount ? addedProduct.discount : 'No'}}</td>
                            <td>${{ addedProduct.total }}</td>
                            <td>
                                <button type="button" class="btn btn-danger" (click)="removeProduct(addedProduct.id)">X</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <table class="table table-dark table-hover" *ngIf="addedServices.length > 0">
                    <thead>
                        <th scope="col">NOMBRE</th>
                        <th scope="col">SOPORTE</th>
                        <th scope="col">UNITARIO</th>
                        <th scope="col">IMPUESTOS</th>
                        <th scope="col">TOTAL</th>
                        <th scope="col">&nbsp;</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let addedService of addedServices">
                            <td>{{ addedService.name }}</td>
                            <td>{{ addedService.supportPrice ? addedService.supportPrice : 'No'}}</td>
                            <td>{{ addedService.price }}</td>
                            <td>
                                <p *ngFor="let tax of addedService.taxes">{{ tax.name }}: ${{ tax.value }}</p>
                                {{ addedService.taxes.length < 1 ? 'No' : '' }}
                            </td>
                            <td>${{ addedService.total }}</td>
                            
                            <td>
                                <button type="button" class="btn btn-danger" (click)="removeService(addedService.id)">X</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <p style="color: rgb(156, 233, 137);"> PEDIDO TOTAL: ${{ totalProducts + totalServices }} </p>

            </form>
        </div>
    </div>
</div>
          