
<body>
    <nav class="navbar">
        <div class="container-fluid ">
            <a class="navbar-brand text-dark" href="#">
                <img src="../../../assets/img/finnegans.logo.png" alt="Logo" height="30"
                    class="d-inline-block align-text-top">
                <!--Crisalis-->
            </a>

            <ul class="nav">
               <!--<li class="nav-item ">
                    <a class="nav-link text-dark" aria-current="page" href="#">Clientes</a>
                </li>-->
                <li class="nav-item ">
                    <a class="nav-link text-dark" aria-current="page" href="/person">Personas</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-dark" aria-current="page" href="/company">Empresas</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-dark" aria-current="page" href="/product">Productos</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-dark" aria-current="page" href="/servicio">Servicios</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-dark" aria-current="page" href="#">Pedidos</a>
                </li>
                
                <li>
                    <button type="button" class="btn btn-light" (click)="onLogOut()" >Cerrar sesión</button>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <section>

            <!--<div class="container p-4">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <div class="card w-100">
                            
                            <div class="card-body">
                                <button type="button" class="btn btn-warning btn-sm p-3"><a href="clientes.html">CLIENTES</a></button>
                                <img src="../../../assets/img/clientes.png" class="d-block w-100" alt="edificio1">
                            </div>
                        </div>
                    </div>
                  
                    
                    <div class="col-4">
                        <div class="card">
                            
                            <div class="card-body">
                                <button type="button" class="btn btn-warning btn-sm p-3">PEDIDOS</button>
                                <img src="../../../assets/img/producto.png" class="d-block w-100" alt="edificio1">
                                //<h3 class="card-title">Servicios</h3>
                               // <p class="card-text">Generar pedidos de productos y servicios para un mismo cliente</p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>-->
            
        </section>



