
<body>
    <nav class="navbar">
        <div class="container-fluid ">
            <a class="navbar-brand text-dark" href="https://www.finneg.com/latam/">
                <img src="../../../assets/img/finnegans.logo.png" alt="Logo" height="35"
                    class="d-inline-block align-text-top">
                <!--Crisalis-->
            </a>

            <ul class="nav">
               <!--<li class="nav-item ">
                    <a class="nav-link text-dark" aria-current="page" href="#">Clientes</a>
                </li>-->
                <li class="nav-item ">
                    <a class="nav-link text-dark" aria-current="page" href="/person">Personas</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-dark" aria-current="page" href="/company">Empresas</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-dark" aria-current="page" href="/product">Productos</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-dark" aria-current="page" href="/servicio">Servicios</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-dark" aria-current="page" href="/order">Pedidos</a>
                </li>
                
                <li>
                    <button type="button" class="btn btn-light" (click)="onLogOut()" >Cerrar sesión</button>
                </li>
            </ul>
        </div>
    </nav>
</body>



